.example-card {
    max-width: 400px;
    margin: 5px;
  }
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .body{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
  }